* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  padding: 10px;
}

p {
  margin: 8px 0;
}

.container {
  background-color: #f0f0f0;
  margin: 10px 10px;
  padding: 30px;
  border: 2px solid #000000;
}

.box {
  background-color: #d0d0d0;
  padding: 8px;
  margin-top: 8px;
}

h2,
h3,
ul {
  color: blueviolet;
}

a:link {
  color: #1155cc;
}

a:visited {
  color: #5f2d8c;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #b30000;
}

.pseudo-list {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  text-align: left;
}
.pseudo-list li::marker {
  display: list-item;
  content: "# ";
}

.pseudo-list li:first-child {
  font-weight: bold;
}

.pseudo-list li:last-child {
  font-style: italic;
}

.pseudo-list li:nth-child(2) {
  text-decoration: underline;
}

input:focus {
  outline: 2px solid #444444;
}

button:active {
  transform: scale(0.98);
}

.hover-card:hover {
  background-color: #d0d0d0;
}

.pseudo-element-text::first-letter {
  font-size: 28px;
  color: #b30000;
}

.pseudo-element-text::first-line {
  text-transform: uppercase;
}

blockquote::before {
  content: "\201C";
  font-size: 24px;
}
blockquote::after {
  content: "\201D";
  font-size: 24px;
}

.marker-list li::marker {
  content: "🧑‍🦯‍➡️ ";
}

.selection-text::selection {
  background-color: #fff176;
  color: #fa0000;
}

input[type="text"] {
  background-color: #eef7ff;
}

input[name*="email"] {
  border: 2px dotted #333333;
}

a[href^="https"] {
  font-weight: bold;
}

a[href$=".pdf"] {
  text-decoration: overline;
}

a[title~="Site"] {
  border-bottom: 2px solid #333333;
}

a[title|="my"] {
  background-color: #d6f5d6;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10%;
}
