.container {
  width: 400px;
  margin: 40px auto;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.text-center {
  text-align: center !important;
}
.text-muted {
  color: rgba(33, 37, 41, 0.75) !important;
}

footer {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}
